.rodape {
    background: #6278F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6.25rem;
    background-image: url('../../../public/imagens/fundo.png');
}

.rodape .redes ul {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 2rem;
}

.rodape div h2 {
    font-size: 1.25rem;
    font-family: 'Montserrat';
    color: #FFF;
    font-weight: 500;
}