.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.formulario form {
    flex: 1;
    background-color: #F2F2F2;
    padding: 36px 64px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulario form h2 {
    font-weight: 400;
    font-size: 32px;
}

@media (max-width: 980px) {
    .formulario {
        margin: 0px 25px;
    }

    .formulario form {
        text-align: center;
        padding: 18px 32px;
    }
}
